<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <link th:href="@{/tailwind.css}" href="../static/tailwind.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main class="mt-4 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 text-center">
  <ul>
    <li th:each="machine : ${machines}">
      <a th:href="@{/{id}(id=${machine.id.id})}" th:text="${machine.id}"></a>
    </li>
  </ul>
</main>
</body>
</html>